$text-color: #FFFFFF;
$dropdown-background: #ECF0F1;

@mixin small-screen {
    @media (max-width: 400px) {
        @content;
    }
}

.container-fluid {

    padding-left: 0;
    overflow-x: hidden;

    .navbar {
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100vw;

        .navbar-brand {
            color: $text-color;
            @include small-screen {
                font-size: 1em;
            }
        }

        #search-input {
            border-radius: 10px;
            height: 30px;
            padding: 10px;

            &::placeholder {
                @include small-screen {
                    font-size: 1em;
                }
            }
        }

        .search-wrapper {
            margin-right: 5%;
        }
    }

    .logo {
        margin-left: 5%;
    }

    #title {
        text-align: center;
        padding-top: 20px;
        font-weight: 700;
        margin-bottom: 0;
    }

    #search-dropdown {
        background-color: $dropdown-background;
        position: absolute;
        width: 200px;
        list-style: none;
        border-radius: 10px; 
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        max-height: 300px;
        overflow: auto;
    }

    .search-item {
        padding: 0 10px;
    }

    .search-item:first-child {
        padding-top: 10px; 
    }

    .search-item:last-child {
        padding-bottom: 10px; 
    }

    .card, #home-button {
        cursor: pointer;
    }

    .search-item:hover {
        color: blue;
    }

    .show-item:hover, .logo:hover {
        transform: scale(0.98);
    }

    .show-cover {
        width: 500px;
        height: 700px;
    }

    .show-name {
        margin-top: 15px;
    }

    .card-text {
        padding: 10px;
    }

    .card {
        padding: 20px;
        background-color: #ECF0F1;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .image-wrapper, .list-wrapper {
        margin: 20px;
        text-align: left;
    }

    .title {
        text-align: left;
    }

    footer {
        margin-top: 30px;
        width: 100vw;
    }

    .img-fluid {
        max-width:100%;
        height: auto;
    }

}
   
