
$text-color: #FFFFFF;

.container-fluid {

    .navbar {
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;

        .navbar-brand {
            color: $text-color;
        }

        h3, h4, h5, #search-field {
            margin-top: 10px;
        }

        #search-field {
            border-radius: 10px;
            height: 30px;
            padding: 10px;
        }
    }

    h4 {
        text-align: center;
        padding: 20px;
    }

}


